.footer {
    background-color: #333;
    color: white;
    padding: 40px 0;
}

.footer h5 {
    color: peachpuff;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer p {
    margin: 0;
}

.footer a {
    color: peachpuff;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #f2a365;
}

.footer-bottom {
    border-top: 1px solid #555;
    padding-top: 15px;
    margin-top: 20px;
}

.list-unstyled {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list-unstyled a {
    text-decoration: none;
}

.footer ul {
    padding: 0;
}

.footer ul li {
    display: inline-block;
}
